name: Lint

on:
  pull_request:
  push:
    branches:
      - master
      - '[0-9]+.x'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.21.0
        with:
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: "highest"

      - name: Execute code standard tests
        run: composer run-script lint
